<html>
  <head>
    <title>My Angular App!</title>
  </head>
  <body ng-app="ModuleName" ng-controller="FirstController">
    <div>
      {{test}}
    </div>

	<%= link_to 'Tutorials', tutorials_path %>
  </body>
</html>
